<!DOCTYPE html>
<html lang="en" class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Помилка</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/images/favicon.png}">
    <link th:href="@{/css/style.css}" rel="stylesheet">

</head>

<body class="h-100">
<div class="authincation h-100">
    <div class="container h-100">
        <div class="row justify-content-center h-100 align-items-center">
            <div class="col-md-5">
                <div class="form-input-content text-center error-page">
                    <h1 class="error-text font-weight-bold">404</h1>
                    <h4><i class="fa fa-exclamation-triangle text-warning"></i> Сторінка, яку ви шукали, не знайдена!</h4>
                    <p>Можливо, ви неправильно ввели адресу або сторінку перемістили.</p>
                    <div>
                        <a class="btn btn-primary" href="/">Назад додому</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<!--**********************************
	Scripts
***********************************-->
<!-- Required vendors -->
<script th:src="@{/vendor/global/global.min.js}"></script>
<script th:src="@{/vendor/bootstrap-select/dist/js/bootstrap-select.min.js}"></script>
<script th:src="@{/js/custom.min.js}"></script>
<script th:src="@{/js/deznav-init.js}"></script>

</html>